/* This stylesheet is just for the navbar and title */
* {
    margin: 0;
    padding: 0;

    font-family: Helvetica, sans-serif;
    text-space: 1.6em;
}

body{
    background-color: #eee;
}

.floatclear{
    clear: both;
}

.base-header {
    background-color: #ccc;
    text-align: center;
    color: #333;
    padding: 2em 1em;
}

.base-navbar {
    background-color: #333;
}

.base-navbar a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 12px;
}

.base-navlink-pwr {
    float: right;
    background-color: #8b1d1d;
    color: #ccc;
}

.base-navlink-pwr:hover {
    background-color: #ad2222;
    color: #fff;
}

.base-navlink-auth {
    float: left;
    background-color: #11557C;
    color: #ccc;
}

.base-navlink-auth:hover {
    background-color: #30799B;
    color: #fff;
}

.base-navlink {
    background-color: #333;
    color: #ccc;
}

.base-navlink:hover {
    background-color: #666;
    color: #fff;
}

.base-content {
    padding: 1em 1em;
}