.cell-box {
    display: inline-block;
    background-color: #ddd;
    padding: 0 1em 1em 1em;
    margin: 1em;
    border: 2px solid #333;
    border-radius: 8px;
    width: max-content;
    box-sizing: border-box;
}

.cell-box h1, .cell-box h2, .cell-box h3{
    padding: 1em 1em;
    text-align: center;
}