.main {

}

.header {
    background-color: whitesmoke;
    text-align: center;
    color: #505050;
    padding: 10px;
}

.navbar {
    overflow: hidden;
    background-color: #303030
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #505050;
    color: #ffffff;
}

.column {
    float: left;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.cellbox {
    background-color: #606060;
    text-align: center;
    margin: 10px;
    color: #101010;
    padding: 10px;
}

