<!--- This is the the template from which all page inherit. It contains the navbar and title bar. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>The Anodization Station: {{ title }}</title>
    {% else %}
    <title>The Anodization Station</title>
    {% endif %}
    <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='styles/base.css') }}" />
</head>
<body>
    <header class="base-header">
        <h1>The Anodization Station</h1>
    </header>

    <div class="base-navbar">
        <a class="base-navlink-pwr" href="{{ url_for('power') }}">Power</a>

        <a class="base-navlink" href="{{ url_for('render_cell_control') }}">Cells</a>
        <a class="base-navlink" href="{{ url_for('render_cycle_page') }}">Cycles</a>
        <a class="base-navlink" href="{{ url_for('render_log_page') }}">Logs</a>
        <a class="base-navlink" href="{{ url_for('render_settings_page') }}">Settings</a>
    </div>

    <div class="floatclear"></div>

    <div class="base-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>