{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/cellcontrol.js') }}"></script>
    <script type="text/javascript" >
        window.CELL_CONFIG = {{ json_cell_config|tojson }};
        window.CYCLE_INFO = {{ json_cycle_info|tojson }};
        window.RUNNING = [];
        init();
    </script>

    {% for cid in range(cell_config|length) %}
        <div class="cellbox" id="cellbox_{{ cid }}">
        </div>
    {% endfor %}
{% endblock %}

