<!--- This is for a cell which is currently running. -->
{% macro cell_running(cell_id, cell_config, cell_handler) %}
<h3>Running: {{ cell_handler.check_cell() }} / {{ cell_handler.num_cycles }} Cycles</h3>
{% endmacro %}

<!--- This is for a cell which is not currently running -->
{% macro cell_waiting(cell_id, cell_config, cell_handler) %}
    <h3>Waiting...</h3>
    <hr>

    <div id="cycleparams_{{ cell_id }}">
    </div>

    Number of Cycles: <input type="text" id="num_cycles_{{ cell_id }}"><br><br>
    <input type="button" value="Run" onclick=run_cell({{ cell_id }})>
{% endmacro %}

<h2>Cell #{{ cell_id }}</h2>
<hr>
{% if cell_handler.cell_process.is_alive() %}
    {{ cell_running(cell_id, cell_config, cell_handler) }}
{% else %}
    {{ cell_waiting(cell_id, cell_config, cell_handler) }}
{% endif %}
