<!--- This is for a cell which is currently running. -->
{% macro cell_running(cellhandler) %}
<h3>Running: {{ cellhandler.check_cell() }} / {{ cellhandler.num_cycles }} Cycles</h3>
{% endmacro %}

<!--- This is for a cell which is not currently running -->
{% macro cell_waiting(cellhandler) %}
<h3>Waiting...</h3>
<hr>
<select id="cycle_select_{{cellhandler.cellID}}" onchange=update_cellbox({{ cellhandler.cellID }})>
    {% for cyc in all_cycle_info %}
    <option value="{{cyc['name']}}">{{cyc['name']}}</option>
    {% endfor %}
</select><br><br>

<div id="cycleparams_{{cellhandler.cellID}}">
    {% include "cycleparams.html" %}
</div>

Number of Cycles: <input type="text" id="num_cycles_{{ cellhandler.cellID }}"><br><br>
<input type="button" value="Run" onclick=run_cell({{ cellhandler.cellID }})>
{% endmacro %}

<h2>Cell #{{ cellhandler.cellID }}</h2>
<hr>
{% if cellhandler.cell_process.is_alive() %}
    {{ cell_running(cellhandler) }}
{% else %}
    {{ cell_waiting(cellhandler) }}
{% endif %}
