<!--- This is for a cell which is currently running. -->
{% macro cell_running(cell_id, cell_config, cell_handler) %}
    <h3 id="status_{{cell_id}}">Running: {{ cell_handler.check_cell() }} / {{ cell_handler.num_cycles }} Cycles</h3>
{% endmacro %}

<!--- This is for a cell which is not currently running -->
{% macro cell_waiting(cell_id, cell_config, cell_handler) %}
    <h3 id="status_{{cell_id}}">Waiting...</h3>
    <hr>
    <div class="centered-form" id="cycleparams_{{ cell_id }}">
    </div>
    <hr>
    <div class="centered-form">
        <div class="form-element">
            <label># of Cycles: </label>
            <input type="text" id="num_cycles_{{ cell_id }}">
        </div>
        <div class="floatclear"></div>
        <div class="form-element">
            <label>Sample Name: </label>
            <input type="text" id="name_{{ cell_id }}">
        </div>
        <div class="floatclear"></div>
        <div class="form-element">
            <input type="submit" value="Run" onclick=run_cell({{ cell_id }})>
        </div>
    </div>
{% endmacro %}

<h2>Cell #{{ cell_id }}</h2>
<hr>
{% if cell_handler.cell_process.is_alive() %}
    {{ cell_running(cell_id, cell_config, cell_handler) }}
{% else %}
    {{ cell_waiting(cell_id, cell_config, cell_handler) }}
{% endif %}

