{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='styles/forms.css') }}" />

    <div class="centered-form-grid">
        <div class="centered-form-box">
            <h1>Power Off/Reboot</h1>

            <form class="centered-form" action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <div class="form-element-checkbox">{{ form.reboot() }} {{ form.reboot.label }}</div>
                <div class="floatclear"></div>
                <div class="form-element">{{ form.submit() }}</div>
            </form>
        </div>
    </div>


{% endblock %}